.login-form {
  text-align: center;
  color: #b55d4f;
}

.login-form__input {
  border-color: #ffc176;
  color: #ffc176;
}

.login-form__button-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}
