.page-builder {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas: "head head"
                       "side main"
                       "side sect";
  grid-template-rows: 50px 2fr 1fr;
  grid-template-columns: 1.2fr 1fr;
}

.page-builder__header, .page-builder__aside, .page-builder__main, .page-builder__section {
  align-items: center;
  justify-content: center;
  display: flex;
  border: solid 1px;
}

.page-builder__header {
  grid-area: head;
}

.page-builder__aside {
  grid-area: side;
}

.page-builder__main {
  grid-area: main;
}

.page-builder__section {
  grid-area: sect;
}
