$MATRIX: #b55d4f;
$MACARONI_AND_CHEESE: #ffc176;
$KARRY: #ffebd0;
$KARRY_TRANSPARENT: #ffebd07e;
$GUMBO: #75a2a5;
$ZORBA: #9e9791;
$ZORBA_TRANSPARENT: #999592;
$WHITE_TRANSPARENT: rgba(255, 255, 255, 0.9);
$BLACK_TRANSPARENT: rgba(0, 0, 0, 0.25);
