$MOBILE_DEVICES_MIN: 320px;
$MOBILE_DEVICES_MAX: 480px;
$IPADS_AND_TABLETS_MIN: 481px;
$IPADS_AND_TABLETS_MAX: 768px;
$SMALL_SCREENS_AND_LAPTOPS_MIN: 769px;
$SMALL_SCREENS_AND_LAPTOPS_MAX: 1024px;
$DESCTOPS_AND_LARGE_SCREENS_MIN: 1025px;
$DESCTOPS_AND_LARGE_SCREENS_MAX: 1200px;
$EXTRA_LARGE_SCREENS_AND_TV_MIN: 1201px;
